.post-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid white;
}

.post-preview:hover {
    box-shadow: 1px 3px 5px black;
}

.post-preview h2 {
    font-size: 20px;
    color: salmon;
    margin-bottom: 8px;
}