.post-preview {
    padding: 10px 35px;
    height: 300px;
    margin: 30px 100px;
    border-bottom: 1px solid white;
    text-align: left;
    border-top: 2px solid #ff0000;
    /* Red top border */
    border-left: 2px solid #ff0000;
    /* Red left border */
    background-color: white;
}

.post-preview:hover {
    box-shadow: 1px 3px 5px rgb(185, 110, 102);
}

.post-preview h2 {
    font-size: 20px;
    color: salmon;
    margin-bottom: 8px;
}

.post-preview h3 {
    font-size: 15px;
    color: grey;
}

.post-preview ul {
    /* gets rid of spacing on the left */
    padding-left: 0px;
}

.post-preview li {
    /* gets rid of bullet points */
    list-style: none;
    font-size: 13px;
}