/* highlights the link we are on */
.active {
    background-color: rgb(255, 133, 112);
}

/* overall navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: sandybrown;
    position: sticky;
    top: 0;
}

/* website title */
nav .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
}

/* list of links */
nav ul li {
    list-style: none;
}

/* hyperlink */
nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

/* highlights the link when we hover over it (but only if we aren't on that link currently) */
nav ul li a:not(.active):hover {
    background-color: rgb(228, 140, 57);
}

/* the three line menu icon on top right */
nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}

/* only show 3 line meny icon on smaller screen  */
@media (max-width: 480px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    /* only show menu check open */
    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}