.popup,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1000; //Ensure it appears above other content */
}

.overlay {
    background: rgba(62, 62, 62, 0.8);
}

.popup-content {
    position: relative;
    height: auto;
    max-height: 90vh;
    overflow-y: auto;
    background: #fff;
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 60%;
    min-width: 40%;
}

.popup-content::-webkit-scrollbar {
    width: 8px;
}

.popup-content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.popup-content::-webkit-scrollbar-thumb {
    background: sandybrown;
    border-radius: 10px;
}

.popup-content::-webkit-scrollbar-thumb:hover {
    background: #e07a3d;
}

.close-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 10px;
    background: salmon;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.close-popup:hover {
    background: #d32f2f;
}