.popup,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

}

.overlay {
    background: rgba(62, 62, 62, 0.8);
}

.popup-content {
    position: relative;
    height: 90vh;
    overflow-y: auto;
    background: #f1f1f1;
    padding: 65px 80px;
    border-radius: 3px;
    max-width: 90%;
    min-width: 50%;
    margin-top: 10%;
    margin-bottom: 10%;

}

.close-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 7px;
}